/* .flex-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.flex-n {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  /* background-color: white;
  padding-top: 10px; */
  /* max-width: 100%; */
}

/* menu-container" */ */
/* .btn-type-1 {
  color: #fff;
  background-color: #ccc;
  padding: 10px 20px;
} */
